# ignore
tutorial_round/2023StanfordCardinal.py
__pycache__/
backtests/
manual.py
tests/
3330_trader.py
exceed_fix.py
trader_test.py
starfruit_test.py
tester.py
tester2.py
tutorial_round/
~$round3.xlsx
2023StanfordCardinal.py
round3.xlsx